resource: https://url_of_mcp_as_resource_server
authorization_servers:
  - https://url_of_auth_server
scopes_supported:
  - scope_to_be_authorized_by_authorization_server
xaa_metadata:
  token_endpoint_auth_method: private_key_jwt
  token_exchange:
    trusted_issuer: https://trusted_issuer_url_used_in_xaa_token_exchange_step
    audience: https://url_of_auth_server_with_audience_id
  token_request:
    token_url: https://auth_server_token_request_url
    audience: https://url_of_auth_server_with_targeted_audience_id
    scopes:
      - scope_to_be_authorized_by_authorization_server
